.scroll-box {
    height: 120px; 
    width: 240px;
    overflow-y: auto;    /* enables vertical scrolling */
    background: #f8f9fa;         
}

.scroll-box::-webkit-scrollbar {
    width: 8px;
}

.scroll-box::-webkit-scrollbar-track {
    background: #c0c0c0;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#coreCarousel .carousel-control-prev {
    left: -70px;
}

#coreCarousel .carousel-control-next {
    right: -70px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.no-scrollbar::-webkit-scrollbar { /*turn off scrollbar for staff carousel */
    display: none;
}

.carousel-control-prev-icon, /* black buttons */
.carousel-control-next-icon {
    filter: invert(1) brightness(0);   /* makes them black */
    background-size: 48px 48px;
}

.carousel-title {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #F5F5F5;
}

.hover-overlay {
    background: rgba(186, 84, 37, 0.9);  /* dark orange overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.position-relative:hover .hover-overlay {
    opacity: 1;
}
