h2 {
    font-weight: bold;
}

h2.right {
    text-align: right;
}

.person-card {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: -20px;
}

.person-card.reverse {
    flex-direction: row-reverse;
}

.panel {
    background: #ebebeb;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.textpanel {
    background: #f5f5f5;
    gap: 30px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    border-radius: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.photo {
    flex-shrink: 0;
    width: 320px;
    height: 240px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease;
    position: absolute;
}

.photo img.scaled {
        object-fit: scale-down;
}

.photo img.hover-image {
    z-index: 1;
    opacity: 1;
}

.photo img.main-image {
    z-index: 2;
    opacity: 1;
}

.photo:hover img.main-image {
    z-index: 2;
    opacity: 0.14;
}
